/* Шапка страницы */

header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    height: 293px;
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-decoration-skip-ink: none;
    text-underline-offset: 0.2em;
}

.header__menu {
    display: inline-block;
    grid-column: 1 / 2;
    margin: 133px 36px 138px auto;
}

.header__links-list {
    display: flex; /* Сначала использовал gap, но margin лучше отрабатывал, так как разные отступы в макете. Оставил flex для удобства */
    list-style: none; /* Убираем "заводские" маркеры, под макет проще сделать свои через ::before: */
}

.header__links-list li:nth-child(2) {
    margin-left: 13px;
}

.header__links-list li:nth-child(3) {
    margin-left: 16px;
}

.header__links-list-item_no-bullit::before {
    display: none;
}

.header__links-list-item {
    position: relative; /* Создаём уникальный контекст, относительно которого будем позиционировать кастомный маркер */
    padding-left: 19px; /* 6px (маркер) + 13px (отступ). Это позволит включить маркер в размер элемента списка.*/
}

.header__links-list-item::before {
    content: "";
    position: absolute; /* С помощью этого позиционируем маркер как нам надо */
    left: 0;
    top: 60%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background-color: transparent;
    border-radius: 50%;
    border: 0.5px solid currentColor;
}

.header__link_active {
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
}

.header__logo {
    display: inline-block;
    width: 148px;
    height: 105px;
}

.header__logo-image {
    width: 100%;
    height: 100%;
}

.header__address {
    width: 240px;
    justify-self: end;
    margin-bottom: 4px;
    margin-right: 50px;
    font-style: normal;
    line-height: 24px;
}

.address__link {
    text-decoration-thickness: 0.5px;
}

/* Обложка страницы */

.cover {
    display: block;
    /* 
    Тех. комментарий: 
    Свойство ниже создаёт изолированный блочный контекст для .cover, чтобы, в данном случае,
    отступы дочерних элементов не "выпадали" из него самого.

    Для себя:
    Час мучений сейчас - их отсутствие потом!! */
    overflow: hidden; 
    position: relative;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    height: 757px;
    width: 100%;
    z-index: -2;
    text-transform: uppercase;
    color:white;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    z-index: -1;
}

.cover__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Raleway',sans-serif;
    font-size: 100px;
    font-weight: bold;
    margin: 165px 50px auto 50px;
    height: 385px;
}

.aligned-text {
    display: block;
    align-self: flex-start;
}

.aligned-text_center {
    display: block;
    align-self: center;
}

.aligned-text_right {
    display: block;
    align-self: flex-end;
}

.letter-spacing-extended {
    letter-spacing: 0.3em;
}

.no-letter-spacing {
    letter-spacing: 0;
    margin-right: 0;
}

.cover__description {
    display: flex;
    width: 1000px;
    height: 51px;
    margin: 106px 50px 50px 50px;
    align-items: center;
}

.cover__description-text {
    display: inline;
    word-spacing: 18.5px;
    font-family: 'Raleway',sans-serif;
    font-size: 22px;
    font-weight: normal;
}

.bet-button {
    display: inline-block;
    border: 1px solid white;
    width: 256px;
    height: 51px;
    background-color: rgba(255, 255, 255, 0);
    color:white;
    font-family: 'Raleway',sans-serif;
    font-size: 22px;
    font-weight: normal;
    margin-left: 107px;
    text-transform: uppercase;
}

/* Секция с карточками */

.lots {
    margin: 180px 24px 0 24px;
    width: 1052px;
    height: 723px;
}

.lots__heading {
    margin-left: 40px;
    margin-bottom: 27px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.lots__card-list-item {
    width: 334px;
    height: 596px;
}

.card, .card-link {
    width: 100%;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: -2;
}

.card__title {
    margin: 48px 40px 0 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 0.15em;
    text-decoration-skip-ink: none;
    color: white;
}

.card__text {
    margin: 0 40px 48px 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: white;
    line-height: 120%;
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
    background-position: center;
    background-size: cover;
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
    background-position: center;
    background-size: cover;
}

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
    background-position: center;
    background-size: cover;
}

.lots__look-more-link {
    display: block;
    margin: 30px 0 0 40px;
    font-family: 'Raleway',sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-decoration-skip-ink: none;
    text-underline-offset: 0.25em;
}

/* Секция "Об аукционе" */

.about {
    margin: 120px 24px 0 24px;
    display: grid;
    grid-template-columns: 334px auto;
    justify-items: center;
    gap: 25px;
    width: 1052px;
    height: 595px;
}

.about__logo {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
}

.about__logo-image {
    height: 114px;
    width: 148px;
}

.about__column {
    margin-right: 3px;
}

.about__column p:nth-child(2) {
    margin-top: 8px;
    margin-bottom: 24px;
}

.about__title {
    margin-top: 136px;
    display: block;
    height: 139px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.about__text {
    font-family: 'Raleway',sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;
}

/* Подвал */

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 180px;
    width: 1100px;
    height: 180px;
    padding: 0 50px;
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-decoration-skip-ink: none;
    text-underline-offset: 0.2em;
}

.footer__address {
    font-style: normal;
    line-height: 24px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.footer__menu-link_active {
    text-decoration: underline;
}

.footer__social-list {
    display: flex;
    width: 240px;
    height: 48px;
    justify-content: space-between;
    justify-self: end;
    list-style: none;
}

.footer__social-list-item {
    width: 48px;
    height: 48px;
}


